*{
    font-family:'Poppins',sans-serif;

}

.map-container{
    height:85vh;
    width:100%;
    display:flex;
    flex-direction: column;
}

.map-section{
    max-width:800px;
    width:100%;
    margin:auto;
    height:70vh;
    display:flex;
    align-items:center;
    justify-content: center;
    border-color: black;
    padding:10px 20px 10px 20px;
}


.h3{
font-weight: 600;
letter-spacing: 1.5px;
padding: 10px 0 60px 0;
}

.btn{
    cursor:pointer;
    outline: none;
    width:30%;
    margin:10px 0;
    border-radius: 5px;
    font-size: 15px;
    font-weight:500;
    color:#fff;
    background-color:#F88379;
}

.state-analysis{
    margin-left: 50px;
    max-width:500px;
    width:100%;
    align-items:left;
    justify-content: center;
    font-size: 16px;
    padding: 0 35px 0 15px;   
}

.state-dropdown{
    width:300px;
    margin-top: 10px;
    font-size: 18px;
   
}
.state{
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    padding-left: 5px;
    border-radius: 5px;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
  padding: 1px;
}

td {
  text-align: left;
  padding: 1px;
}

tr:nth-child(even){background-color: #FFD5D5}

th {
  background-color: #463f3a;
  color: white;
}

@media only screen and (max-width: 767px) {
  

  .state-analysis{
    max-width:80%;  
}
}
