{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

<link href="{% static 'stylesheet/register.css' %}" rel="stylesheet" type="text/css">

    <title></title>
</head>
<body>

    
    <div class="main-content">
    {% include 'crimeDetection/main_layout.html' %}

      <div class="main" ></div>
        <div class="register">
    {% block content %}{% endblock %}
        </div> <!-- End Register here-->
</div> <!-- End Main here-->
    </div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div>
    <script>
    {% for message in messages %}
    swal('{{ message }}')
    {% endfor %}
</script>
</div>

</body>
</html>
