{% extends "accounts/base.html" %}
{% load static %}
{% block content %}


<form method="post" action="" id="register">
    <h1> User Log In</h1>
    <h4>Need an account?  <a href="{% url 'register' %}">Click here to create an account</a></h4>
    {% csrf_token %}

    <div class="form-group" >
       <label for="state">Please Enter your ID</label>
    <input type="text" name="username" class="textinp" placeholder="ID" required>
    </div>

    <div class="form-group">
        <label for="state">Enter Password</label>
        <input type="password" name="password" class="textinp" placeholder="Password" required>
    </div>

    <button class="form-group">Enter Password</button>
    <a href="{% url 'register' %}"> Need an account? </a>

</form>

{% endblock content %}

